# Copy this file to .env and fill values, do NOT commit credentials.
DB_CONNECTION=sqlsrv
DB_HOST=WIN-0UDHQPRP2VK\\GCS
DB_PORT=49291
DB_DATABASE=db_gcommers
DB_USERNAME=sa
DB_PASSWORD=Penunggu#D4Ta*2021@^

# Optional: port for this backend service
PORT=3000
